{%- if database == 'postgres' %}
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/db
{%- elif database == 'mysql' %}
DATABASE_URL=mysql+aiomysql://user:password@localhost:3306/db
{%- elif database == 'sqlite' %}
DATABASE_URL=sqlite+aiosqlite:///./app.db
{%- elif database == 'mongodb' %}
DATABASE_URL=mongodb://localhost:27017/db
{%- endif %}
